[submodule "content/projects/fusabi"]
	path = content/projects/fusabi
	url = https://github.com/fusabi-lang/fusabi.git
	sparse-checkout = docs/*
[submodule "content/projects/fusabi-tui"]
	path = content/projects/fusabi-tui
	url = https://github.com/fusabi-lang/fusabi-tui.git
	sparse-checkout = docs/*
